<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BackgroundJob.Host.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="BackgroundJob.Jobs.JobsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="jobSettings" type="BackgroundJob.Configuration.JobConfigurations, BackgroundJob.Configuration" allowLocation="true" allowDefinition="Everywhere" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="BackgroundJob.Host.EnqueueService" behaviorConfiguration="EnqueueServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/EnqueueService/service" />
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/EnqueueService/service  -->
        <endpoint address="" binding="basicHttpBinding" contract="BackgroundJob.Host.IEnqueueService" />
        <!-- the mex endpoint is exposed at http://localhost:8000/EnqueueService/service/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EnqueueServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <jobSettings>
    <jobs>
      <job name="TestRecurringJob" type="BackgroundJob.Host.Example.TestRecurringJobEnqueuer" schedulingtime="0 * * * * ?" maxreplay="3" />
      <!--<job name="ContentsAvailabilityMonitoring" type="BackgroundJob.Jobs.ContentsAvailabilityMonitoring.ContentsAvailabilityMonitorEnqueuer, BackgroundJob.Jobs" schedulingtime="0 0 0 * * ?" maxreplay="3" />-->
    </jobs>
  </jobSettings>
  <applicationSettings>
    <BackgroundJob.Host.Settings>
      <setting name="NotificationSmtpHost" serializeAs="String">
        <value>Test</value>
      </setting>
      <setting name="NotificationSmtpUser" serializeAs="String">
        <value></value>
      </setting>
      <setting name="NotificationSmtpPassword" serializeAs="String">
        <value></value>
      </setting>
      <setting name="NotificationFrom" serializeAs="String">
        <value>noreply@test.ru</value>
      </setting>
      <setting name="EnableWcfEndpoint" serializeAs="String">
        <value>False</value>
      </setting>
    </BackgroundJob.Host.Settings>
    <BackgroundJob.Jobs.JobsSettings>
    </BackgroundJob.Jobs.JobsSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>